.contactForm {
  width: 300px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  border: 1px solid #000;
  border-radius: 15px;
}

.formField {
  display: flex;
  flex-direction: column;
}

.error {
  color: orangered;
}
